@model Quotes

@{
    ViewData["title"] = "Quotes Lists";
    var quotes = Model.quotes;
}

<section class="container mx-auto my-3 p-2">
    <ul>
        @foreach (var quote in Model.quotes)
        {
            <li class="p-2 rounded my-2">
                @(quote.quote)
            </li>
        }
    </ul>
</section>


@section Scripts
{
    <script>

        let quotes =@Html.Raw(JsonConvert.SerializeObject(Model.quotes))
        console.log(quotes)
    </script>
}