@model HomeModel

@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["haha"] = "haha";
}

<h1>@ViewData["Title"]</h1>

<p>@(ViewData["haha"])</p>

<h5>@Model.Name</h5>

<p>Use this page to detail your site's privacy policy.</p>
